body {
    font-family:Arial, Helvetica, sans-serif;;
}

h1 {
    font-size: 1.8em;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: #58a6ff;
}

.head {
    margin-bottom: 15px;
}

.subTitle {
    font-size: 0.8em;
    font-weight: bold;
}

#roomUserText {
    width: 100%;
    text-align: right;
}

.chat {
    overflow-y: scroll;
    max-height: calc(100vh - 240px);
}

.chat img {
    height: 20px;
    width: 20px;
}